body {
  font:  14px/1.231 arial,helvetica,clean,sans-serif;
}

.ui-widget-overlay {
  opacity:  0.25;
  filter:   Alpha(Opacity=25);
}

#article .src,
#article .src iframe {
  width:  400px;
  height: 300px;
}

section {
  display:  block;
  padding:  1em;
  margin:   0;
}

section p {
  display:    block;
  padding:    0 0 1em;
  margin:     0;
  font-size:  1em;
}

section p span:after {
  content:  "  ";
}

section p span {
  color:      #ddd;
}

section p .highlight {
  /*color:      #229;*/
}

.summary-dialog {
  background:       transparent;
}

.summary-dialog .ui-dialog-content {
  padding:          1em 2em;
  background-color: rgba(242, 245, 247, 0.88);
}

.summary-dialog .controls {
  margin:         0;
  padding:        0 0 1em 0;
  border-bottom:  1px solid #ddd;
}
.summary-dialog .controls #threshold {
  border:       1px solid #ddd;
  color:        #f6931f;
  font-weight:  bold;
  width:        7em;
  margin-left:  0.5em;
}
.summary-dialog .controls .slider {
  margin:       0.5em;
}
.summary-dialog .list {
  list-style: none;
  padding:    0 1em;
  margin:     0;
}
.summary-dialog .list li {
  position:       relative;
  padding:        0.5em 0;
  text-align:     justify;
  border-bottom:  1px dotted #aaa;
}
.summary-dialog .list li .rank {
  position:       absolute;
  top:            -0.25em;
  left:           -1.5em;
  color:          #f6931f;
}
