<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />

  <title><%= title %></title>

  <link rel="stylesheet" type="text/css" href="css/reset.css" />
  <link rel="stylesheet" type="text/css" href="css/theme/jquery-ui.css" />
  <link rel="stylesheet" type="text/css" href="css/sprites-16.css" />
  <link rel="stylesheet" type="text/css" href="css/summary-06.css" />
 </head>
 <body>
  <%- body %>
 </body>
</html>
