<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />

  <title><%= title %></title>

  <link rel="stylesheet" type="text/css" href="css/theme/jquery-ui.min.css" />
  <link rel="stylesheet" type="text/css" href="css/summary-06.min.css" />

  <script src='js/req.min.js'></script>
  <script>
// Define script dependencies
Req.assets = {
    'preloadImages':{ src: 'js/preloadImages.js' },
	'summary':		{ src: 'js/summary-06-full.min.js' }
};

Req('preloadImages', function() {
        // Preload global images/sprites
        preloadImages('css/images/loading.gif', 'css/images/icons-16.png');
});
  </script>
 </head>
 <body>
  <%- body %>
 </body>
</html>
