<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <meta name="viewport" content="width=device-width,initial-scale=1.0" />

  <title><%= title %></title>

  <link rel="stylesheet" type="text/css" href="css/theme/jquery-ui.min.css" />
  <link rel="stylesheet" type="text/css" href="css/summary-10.min.css" />

  <script src='js/req.min.js'></script>
  <script src='js/boot-10-b.js'></script>
 </head>
 <body>
  <%- body %>
 </body>
</html>
