body {
  font:  14px/1.231 arial,helvetica,clean,sans-serif;
}

.article-pane,
.results-pane,
.search-pane {
  padding:          0;
}

.article-pane header {
  display:        block;
  padding:        0.5em;
  margin-right:   0.5em;
  border-bottom:  0.5em solid #ccc;
}
.article-pane header h1,
.article-pane header author,
.article-pane header time,
.article-pane header keywords {
  display:      inline-block;
}
.article-pane header h1 {
  font-size:    1.2em;
  font-weight:  bold;
}
.article-pane header author,
.article-pane header time,
.article-pane header keywords {
  font-size:    0.8em;
  padding-left: 2em;
  color:        #999;
}
.article-pane header author:before {
  content:      'by ';
}
.article-pane header time {
  font-style:   italic;
}
.article-pane header keywords {
  font-size:    0.8em;
}
.article-pane header keywords keyword:before {
  content:      ' / ';
}

.article-pane article {
  height:     100%;
  overflow-y: scroll;
  margin:     0 0.5em;
}

article section {
  display:  block;
  padding:  0.5em;
  margin:   0;
}

article section p {
  display:    block;
  padding:    0.5em;
  margin:     0;
  font-size:  1em;
  border:     1px solid #fff;
}

article section p span:after {
  content:  "  ";
}

article section p span {
  color:      #444;
  opacity:    .2;
  border:     none !important;
}

article section p .highlight {
  /*color:      #229;*/
  opacity:    1.0;
}

article section p.hover-link span {
  opacity:    1.0;
}

.control-pane {
  background:       transparent;
  padding:          0;
}

.control-pane .controls {
  font-size:      0.8em;
  text-align:     center;

  /*
  margin:         0;
  padding:        0.5em;
  border:         none;
  border-bottom:  1px solid #ddd;
  overflow:       hidden;
  // */
}
.control-pane .controls input[type=text] {
  border:       1px solid #ddd;
  color:        #f6931f;
  font-weight:  bold;
  width:        7em;
  margin-left:  0.5em;
  font-size:    0.9em;
}
.control-pane .controls .slider {
  margin:       0.5em 1em;
}
.control-pane .list {
  list-style:   none;
  padding:      0.5em;
  padding-left: 2em;
  margin:       0;
  overflow-y:   scroll;
}
.control-pane .list li {
  position:       relative;
  padding:        0.5em;
  margin:         0;
  text-align:     justify;
  border:         1px solid #fff;
  border-bottom:  1px dotted #aaa;
}
.control-pane .list li .rank {
  position:       absolute;
  top:            -0.25em;
  left:           -1.5em;
  color:          #f6931f;
}
