/*
Theme URI: http://wordpress.org/
Description: Wired Blog-Wide Global Stylesheet
used in conjunction with Blog Specific Stylesheets
*/

/* DEFAULTS
 ***********/
body{
        font-family: Arial,Verdana,sans-serif;
}
body, #content {
    color: #333;
}
a:hover, a:visited{
        color: #007CA5;
}
hr {
    display: none;
}
.post hr{
    display: block;
}
p{
    margin: 20px 0;  /*was 15px 0*/
}
p img {
    padding: 0;
}
a img {
    border: none;
}







/*HEADLINES*/
h1, h2, h3 {
        font-family: Arial,Verdana,sans-serif;
    line-height: 1.3;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}

.permalink h1 {
    font-size: 24px;  /*was 1.7em */
    line-height:30px;
}


.blogIndex h2, .archive h2{
        font-size:1.7em;
}

.blogIndex .entry h2, .blogIndex .archive h2{
        font-size:1.3em;
}




/*HOVER STATES/HEADLINE ANCHORS*/
h1, h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
    color: #000;
    font-weight: bold;
}
#page a:hover, #page h2 a:hover, #page h3 a:hover{
        background-color: #e5f8ff;
}
#page a img:hover {
        background-color: #fff;
}

/* Template/Containers
 *********************/
/* nav overrides */
#global_navigation a, #global_navigation a:hover{
        text-decoration: none;
}

/* Page Content */
#page {
    padding-bottom: 30px;
}
#content {
    font-size:1.35em;
    float: left;
    width: 660px;
    margin-right: 40px;
}
#blog_header {
    background-repeat: no-repeat;
    height: 140px;
}
a#blog_header{
        display: block;
}
#blog_header span, #blog_header h1{
        display: none;
}
.blogIndex #blog_header, .permalink #blog_header{
        margin-bottom: -25px;
}
.post{
        border-bottom:10px solid #000; /*was #f2f2f2*/
        padding-bottom:25px;
        padding-top:30px;
}
.permalink .post{
    padding-top: 35px;
}
.blogIndex .advertisement, .permalink .advertisement, .left-column .advertisement{
        text-align: center;
        margin-top: 50px;
}
.permalink .advertisement, .left-column .advertisement{
        margin-bottom: 50px;
}




/* Wide Post
*************/
#content.multimedia-wide-page { width: 1000px;}

.multimedia-wide-page h1 { width: 1000px; }

.left-column { /* used in multimedia page */
    float: left !important;
    width: 660px;
    font-size:1.35em;
}

.right-column { /* used in multimedia page */
    float: right !important;
    font-size:1.35em;
}






/* Post Meta Info
*****************/
/* above: .entryDescription
   below: .entryActions
*/

.entryActions, .entryDescription{
    font-size: 12px;  /*was 0.85em*/
    padding: 2px 0 1px 0; /*was 5px 0*/
}

.entryActions li, .entryDescription li {
    display: inline;
    list-style-type: none;
}

/*above entry*/
.entryDescription .entryAuthor{
    margin-right: 10px;
}

/*below entry*/
.entryExtra, .entryTags{
        /* width: 320px; */
}
.entryExtra {
    /* text-align: right; */
    /* float: right; */
}
.entryTags {
    /*float: left; */
}

/* entry */
.entry{
    line-height: 20px; /*was 1.4 */
}
.entry ul, .entry ol{
        list-style-position: inside;
}


.entry ul.extra-space li{
        padding-bottom:20px;
}


/* Caption Styles
****************/
#embed p{
        margin: 0;
}
#embed #caption, #embed_wide #caption, .wp-caption-text{
        color: #DDD;
        background: #000;
        padding: 10px;
        font-size: 12px; /*was .9em */
        line-height:15px;
}
.wp-caption-text{
        margin: 0 10px 0 0;
}



/* Left rail styles in content well
**********************************/
.left_rail {clear:left; float:left; padding:10px 0px 0 0; text-align: left; width:250px; border-bottom: 5px solid #f2f2f2; border-top: 5px solid #f2f2f2; margin: 0 30px 30px 0; font-size: .9em;}
.left_rail .wrapper {clear: both;padding: 0;}
.left_rail .title {font-weight: bold;text-transform: uppercase;}
.left_rail img{float: left; width: 60px; height: 60px; margin: 0 0 3px; padding: 0 10px 10px 0; }


/* Left nav ; replaces Left rail
**********************************/
.left_nav {clear:left; float:left; padding:10px 0px 0 0; text-align: left; width:200px; border-bottom: 5px solid #000; border-top: 5px solid #000; margin: 0 30px 30px 0; font-size: .9em;}
.left_nav .wrapper {clear: both;padding: 0;}
.left_nav .title {font-weight: bold;text-transform: uppercase;}
.left_nav img{float: left; width: 50px; height: 50px; margin: 0 0 3px; padding: 0 10px 10px 0; }




/* Post Navigation
 ************************/
#post_nav {
    width:660px;
    height:40px;
}
.post_nav_link {
    width:330px;
    height:40px;
    font-size:0.85em;
    text-transform:uppercase;
}
#post_nav_previous  {
    float:left;
}
#post_nav_next   {
    float:right;
    text-align:right;
}



/* Pagination/Navigation
 ************************/
#page .navigation {
    margin-top: 40px;
    position: relative;
    height: 25px;
}
#page .navigation a, #comments_pagination span.current{
        background-color: #f2f2f2;
    text-align:center;
        font-size: 90%;
    position:absolute;
    bottom: 0;
    height:1em;
    padding: 5px 7px 7px;
}
#page .navigation a:hover{
    color:#FFF;
    background-color: #007CA5;
}
.navigation .nolink {
    display: none;
}
.navigation .next a {
    right: 0;
}
.navigation .back a {
    left: 0;
}
.archiveLink {
        text-align: right;
        padding-top: 20px;
}
#comments_pagination .navigation{
        text-align: center;
}
#comments_pagination .navigation a, #comments_pagination span.current{
        position: static;
}
#comments_pagination span.current{
        background-color: #ccc;
        color: #333;
}



/* Sidebar/X-Rail
 ****************/
#sidebar {
    font-size: 1.2em;
    width: 300px;
    float:left;
        padding-top:20px;
}
#sidebar a, #sidebar a:hover{
        text-decoration: none;
}
.widget_widget_text h2 {
        display:none;
}
   /*xrail components*/
    .xrailComponent{
        color: #666;
        font-weight: normal;
        clear: both;
    }
    .xrailComponent, #sidebar .advertisement{
        margin-bottom:30px;
    }
    .xrailComponent ul{
        list-style-type: none;
    }
    .xrailComponent h4{
        margin-bottom: 15px;
        background-repeat: no-repeat;
        background-color: #ececec;
    }
    .xrailComponent h4, .xrailComponent h4 a{
        height: 20px;
    }
    .xrailComponent h4 a{
        display: block;
    }
    .xrailComponent h4 span{
       display: none;
    }

    /*xrail list styles*/
    .xrailComponent .xrcBlockList li, .xrailComponent .xrcTwoColumnList li {
        padding-bottom: 10px;
    }

    /*xrail components listing links and text in line: (see editorial and services)*/
    .xrailComponent .xrcInlineList{
        margin-bottom: 10px;
    }
    .xrailComponent .xrcInlineList li{
        margin-bottom: 5px;
    }
    .xrailComponent .xrcInlineList dt{
        font-weight: bold;
    }
    .xrailComponent .xrcInlineList dt, .xrailComponent .xrcInlineList dd{
        display: inline;
    }

    /*xrail components listing links and text on separate lines (see most recent entries)*/
    .xrailComponent .xrcBlockList{
        margin-bottom: 15px;
    }

    /*xrail components listing two columns of links*/
    .xrailComponent ul.xrcTwoColumnList{
        width: 140px;
        padding-right: 10px;
        float: left;
    }

    /*subscription unit (failsafe)*/
    #blog_subscription_unit h4{
        background-image: url('/images_blogs/hed_subscribe.gif');
    }
    #blog_subscription_unit .sub_unit{
        overflow: hidden;
    }
    #blog_subscription_unit .text_side{
        width: 150px;
    }
    /*(ATG: to match ecomm/atg mkup on rest of site)*/
    #srv_subscription li{
        display: inline;
    }
    #srv_subscription .subtext{
        font-weight: bold;
    }

    /*editorial team*/
    #editorial_team h4{
        background-image: url('/images_blogs/hed_team.gif');
    }

    /*most recent entries*/
    #most_recent_entries h4{
        background-image: url('/images_blogs/hed_recent.gif');
    }
    ul#supplementary_sources a img{
        position: relative;
        top: 2px;
    }
    ul#supplementary_sources li{
        margin-bottom: 5px;
    }
    ul#supplementary_sources a{
        font-weight: bold;
    }

    /*categories*/
    #categories h4{
        background-image: url('/images_blogs/hed_categories.gif');
    }

    /*popular tags*/
    #popular_tags h4{
        background-image: url('/images_blogs/hed_popular.gif');
    }
    #popular_tags .cloud {
        line-height: 21px;
        word-spacing: 15px;
    }

    /*Services*/
    #services h4{
        background-image: url('/images_blogs/hed_services.gif');
    }
    #services li{
        margin-bottom: 10px;
    }


/* Google Ad
* Note: Styles are declared as !important
* to override inline styles written
* in by the Google Ad JavaScript.
*****************************************/
#google_ad {
    color:#666;
}
#google_ad h4, .advertisement h4{
    background-image: url('/images_blogs/hed_ad.gif');
}
#sidebar #google_ad a {
    color: #007CA5 !important;
    text-decoration: none !important;
}
#sidebar #google_ad a:hover {
    color: #007CA5 !important;
    text-decoration: underline !important;
}


/* Social Bookmarking
 *********************/
 #social_bookmarking_module{
     clear: both;
     /* margin: 5px 0 0; */
     /* padding: 25px 0; */
     /* border-bottom: 10px solid #f2f2f2; */
 }
 #social_bookmarking_module a, #social_bookmarking_module{
    font-size: 11px;
    font-weight:bold;
 }
 .social{
     float: left;
     width: 118px;
     position: relative;
     margin-right: 15px;
 }
 #sb_art_stumble a img{
     margin-right: 3px;
 }
 #sb_art_stumble a span{
     position: relative;
     top: -3px;
 }
 #sb_art_sharethis{
     padding-left: 20px;
     width: 100px;
     color: #007CA5;
     top: 1px;
     height: 16px;
 }

/* http://w.sharethis.com/button/css/sharethis.css
 **************************************************/
a.stbutton{padding:1px 5px 5px 22px;}
.stbuttontext{line-height:17px;}
.stico_default{background:url(http://w.sharethis.com/images/share-icon-16x16.png?CXNID=1000014.0NXC) no-repeat scroll 0 0!important;background:url(http://w.sharethis.com/images/share-icon-16x16.png?CXNID=1000014.0NXC) no-repeat scroll 0 0;}
.stico_rotate{background:url(http://w.sharethis.com/images/rotating-icon.gif?CXNID=1000014.0NXC) no-repeat scroll 0 0!important;background:url(http://w.sharethis.com/images/rotating-icon.gif?CXNID=1000014.0NXC) no-repeat scroll 0 0;}
.stwrapper{position:absolute;width:354px;z-index:1000000;margin:0;padding:0;top:0;left:0;visibility:hidden;}
.stframe{position:absolute;z-index:1000020;left:0;top:0;}
.stclose{cursor:pointer;z-index:1000030;position:absolute;text-align:right;top:10px;right:9px;text-decoration:none;font-family:Helvetica,Verdana,Arial,sans-serif;font-size:12px;}




/*Social Bookmarks*/
#social_tools{padding-top:18px;}
#social_bookmarking_module {
     border:none;
     /* border-top:1px solid #ccc; padding:18px 0 0 0; margin-top:18px;*/ }
.social {background:#FFF; padding:5px; margin:0; border:solid 1px #fff; height:18px; }
#sb_art_diggit * { background:#FFF; width:110px; padding:0; margin:0; }
#tweetmeme * { background:#FFF; width:90px; padding:0; margin:0; }
#tweetmeme {margin-right:0px;}
#sb_facebook_like { float:left; width:100px; padding-top:5px }

#social_bookmarking_module ul {
      padding-top:4px;
}
#social_bookmarking_module li a{
margin-right:10px;height:18px;width:20px;background:url(http://www.webmonkey.com/wp-content/images/assets/socialbuttons.jpg) no-repeat 0 0;display:block;overflow:hidden; text-indent:-9999em; float:left;
/*margin:0px 5px 0 0; */
}
#social_bookmarking_module li {list-style-type:none;}

li#sb_reddit a {background-position:-40px -8px; }
li#sb_reddit a:hover {background-position:-10px -8px; }

li#sb_facebook a {background-position:-38px -68px; }
li#sb_facebook a:hover {background-position:-8px -68px; }

li#sb_delicious a {background-position:-38px -88px; }
li#sb_delicious a:hover {background-position:-8px -88px; }

li#sb_yahoo a {background-position:-38px -48px; }
li#sb_yahoo a:hover {background-position:-8px -48px; }

li#sb_stumble a {background-position:-38px -108px; }
li#sb_stumble a:hover {background-position:-8px -108px; }

li#sb_digg a {background-position:-38px -28px; }
li#sb_digg a:hover {background-position:-8px -28px; }




/* Miscellaneous/Utility
 * ---------------------
 * esmiling:
 * Much of this is legacy from TypePad
 * Some of it may be being used inside of blog post html
 * Some of it is not used at all/can be deleted.
 * This can be looked into as cleanup after launch (to be safe)
 ***************************************************************/
.clear {
    clear: both;
}
blockquote {
    margin: 15px 30px 0 10px;
    padding-left: 20px;
    border-left: 5px solid #ddd;
}
blockquote cite {
    margin: 5px 0 0;
    display: block;
}

sub, sup {line-height:0px; font-size:.7em; }

.center {
    text-align: center;
}
.hidden {
    display: none;
}
.small {
    font-size: 0.75em;
    line-height: 20px;
    color: #666;
}
.formRule{
    font-size: 0.75em;
    font-style: normal;
    color: #666;
}
.bullet {
    background: url('/images_blogs/square.gif') no-repeat;
    width: 8px;
    height: 8px;
    display: inline;
}
.xspacer {
    margin-left: 35px;
    margin-right: 35px;
}
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.alignright {
    padding: 5px 0 5px 20px;
    margin: 0;
    display: inline;
    float: right;
}
.alignleft {
    padding: 5px 20px 5px 0;
    margin: 0;
    display: inline;
    float: left
}
.aligncenter {
    /*width:100%;*/
    padding: 0px 0 5px 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.alignnone {
    padding: 0px 0 5px 0px;
    display: block;
}
#content img.image-full {
    width: auto;
    padding: 0 0;
    margin: 0 0;
}
.divider{
    height: 10px;
    background-color: #F2F2F2;
    height: 9px;
    clear: both;
}
.permalink .divider{
    margin: 25px 0;
}
.statusIcon{
        display: none;
}
.anchorBtn{
        cursor: hand;
        cursor: pointer;
}
.anchorBtn span{
        display: none;
}


/* Latest Product Reviews RSS Widget and Text Widget */
.widget_widget_rss h2, .widget_widget_rss h2 a {
    height: 20px;
}
.widget_widget_rss h2 {
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-color: #ececec;
}
.widget_widget_rss li {
    list-style-type: none;
    padding: 4px 0px; margin: 0px;
    font-size: 1em;
}
.widget_widget_rss ul{
      list-style-type: none;
}
.widget_widget_rss h2 a.rsswidget {
    display: none;
}
.widget_widget_text ul#supplementary_sources {
    list-style-type: none;
    margin-top: 15px;
    margin-bottom: 25px;
}


/* End Latest Product Reviews RSS Widget and Text Widget */
/* Set gadgetlab specific header image for RSS widget - will need for each blog */
.widget_widget_rss h2 {
    background-image: url('http://www.wired.com/images/blogs/hed_reviews.gif');
}
/* END Latest Product Reviews RSS Widget and Text Widget */




/* Special
 ****************/

/* Slideshow specific style */
.blog_slideshow_thumbnail_border_on img {border: 4px solid #007ca5;}
.blog_slideshow_thumbnail_border_off img {border: 4px solid #ffffff;}
#blog_slideshow_previous_next a:link, a:visited, a:hover  {color:#238db1;}
#blog_slideshow_previous_next a:active {color:#d2d2d2;}


/* Pullquote */
.pullquote, .pullquote-left { width:200px; float:left; margin:5px 40px 20px 0; padding:20px 0; border-top:10px solid #000;border-bottom:10px solid #000; color:#000; font-size:1.5em; font-weight:bold; line-height:25px; }
.pullquote-right { width:200px; float:right; margin:5px 0 20px 40px; padding:20px 0; border-top:10px solid #000;border-bottom:10px solid #000; color:#000; font-size:1.5em; font-weight:bold; line-height:25px;}


/* Sidebar */

.sidebar-right, .sidebar-left {
margin: 5px 0px 20px 30px;
padding: 26px 0 20px;   /* 26px aligns 1st line of text to baseline grid */
float: right;
width: 200px;
text-align: left;
border-top:10px solid  #000;
border-bottom:10px solid #000;
color: #666;
font-size: 12px;
line-height:20px;
}

.sidebar-left {
margin: 5px 30px 20px 0px;
float: left;
}



/* Mobify */
.mobify_backtotop_link {display:none;}


/* End Blog-Wide Styles */







/**
 * Example Skin Styles: To be placed in an individual blog stylesheet
 */

 /* Type 1: "Full Page" background skin  (i.e. Samsung)
    ----------------------------------------------
    Hide subscription unit, center ad (#shell, #global_header, #leaderboard #bannerAd)
    Fixed position background (doesn't move on scroll)
    1 Main (large) background image blends vertically and horizontally into a solid color (declared in body)
 */
/*
body{
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center top;
        background-image: url('/images/blogs/background_skins/samsung/full_page_fixed.jpg');
        background-color: #020202;
}
#shell{
        background-color: #fff;
        padding: 0 21px;
}
#global_header{
        background-color: transparent;
}
#leaderboard #bannerAd{
        margin: 0 auto;
        background: none;
        padding-left: 0;
        float: none;
}
.subscriptionUnit{
        display: none;
}
*/

/* Type 2: "Content area" background skin (i.e. Google Chrome)
   ------------------------------------------------------
   Subscription unit and ad display as default
   Background scrolls normally
   2 Background Images:
   Main background image (div#adSkinLayer1) vertically blends into another tiled background image (body)
   Main background image horizontally blends into a background color/image (declared in body)
*/
/*
    #adSkinLayer1{
        background-position: center top;
        background-repeat: no-repeat;
        background-color: transparent;
        background-image: url('/images/blogs/background_skins/google_chrome/content_area_main.jpg');
    }
    body{
        background-repeat: repeat-y;
        background-position: center top;
        background-image: url('/images/blogs/background_skins/google_chrome/content_area_tile.jpg');
        background-color: #000000;
    }
*/



/* TEMPORARY - IPAD PROMOTION - NAV BAR */
#pn_ipad a.primaryLink {
    margin-left:31px;
    padding:0;
    border:none;
    width:150px;
    background: url('/magazine/wp-content/images/assets/ipad_cm_navbar.png')  0 30px;
}

#pn_ipad a.primaryLink:hover {
    background: url('/magazine/wp-content/images/assets/ipad_cm_navbar.png') 0 0;
}
/* END - TEMPORARY - IPAD PROMOTION - NAV BAR */




/* Inform for WP */

#inf_relatedStories{
    width: 600px;
    margin-top: 15px !important;
}
#inf_relatedStories ul{
    list-style: none;
    color:#333;
    line-height:20px !important;
}
#inf_relatedStories ul li {line-height:20px !important; }
#inf_relatedStories ul li p {margin:0 0 10px !important; }
#inf_relatedStories a{
    font-size:13px !important;
    color: #007CA5;
    text-decoration: none;
}
#inf_relatedStories h4, h5{
    font-size:13px !important;
}
#inf_relatedStories a:hover, #inf_relatedStories h2 a:hover, #inf_relatedStories h3 a:hover {
    background-color:#E5F8FF;
}
#inf_relatedStories h4 {margin-bottom:12px !important;}
.iw_moreAbout {margin-top: 20px!important;}
.iw_moreAbout li, .iw_moreAbout ul{
    display: inline;
    line-height:20px !important;
}
.iw_moreAbout h5{
    display: inline;
}



/* See Also */
#see_also {margin-top:20px; font-size:13px; line-height:20px;}
#see_also ul li {list-style-type:square; line-height:20px; }
#around_wired {margin-bottom:20px;}
#around_web {margin-bottom:20px;}
.contextly_see_also {margin:20px 0; line-height:20px}
.contextly_see_also ul li {list-style-type:none;}
.contextly_title {font-weight:bold; text-transform:uppercase;}
.contextly_previous .subhead, .around_web_contextly .subhead {font-weight:bold; :uppercase;}
.contextly_previous, .around_web_contextly {padding-top:10px}





/* Fix wide photos on blog index  */
.blogIndex .entry img {max-width:100%; height:auto;}


.bio {line-height:20px; font-size:12px; padding:20px 0 10px; margin:10px 0; font-style:italic; background: url('http://www.wired.com/images_blogs/gadgetlab/2010/11/border_stripes.gif') no-repeat;}
.bio img {float:left; margin:0 20px 0 0; padding: 3px 0 0 0; border-bottom:5px solid #000; height:50px; width:50px; }





/* Bug  */
.bug {display:block; width:200px; margin:5px 30px 20px 0; float:left; padding:0; line-height:0; clear:both;}
.bug .align-left {float:left;  margin:5px 30px 20px 0;}
.bug .align-right {float:right;  margin:5px 0px 20px 30px;}
.bug a:hover {background:none !important;}
.bug_text {padding:20px 0; border-bottom:10px solid #000; font-size:12px; line-height:20px; color:#666;}


/* Event Bug */
.eventbug {float:left; margin:5px 20px 20px 0;}


/* Partner Bug  */
.partner_bug {display:block; width:200px; margin:5px 30px 20px 0; float:left; border-bottom:5px solid #000; border-top:5px solid #000; padding:20px 0; line-height:10px; clear:both;}
.partner_none {color:#cc0000;}
.align-right {float:right;  margin:5px 0px 20px 30px;}
.align-left {float:left;  margin:5px 30px 20px 0;}
.partner_bug a:hover {background:none !important;}





